<!doctype html>
<html>
<head>
    <meta charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1.0'>
    <link rel="shortcut icon" href="favicon.ico">
    <link  href="/stylesheets/style.css" rel="stylesheet" >
</head>
<header>
    <h1> Your Crypto Guide </h1>
</header>
<body>
{{{body}}}
</body>
</html>
