<!doctype html>
<html>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    $(function () {
        var socket = io();
        $('form').submit(function(){
            socket.emit('chat message', $('#msg').val());
            $('#msg').val('');
            return false;
        });
        socket.on('chat message', function(msg){
            $('#message-area').append($('<li>').text(msg));
        });
    });
</script>
<header>
    <form action="/general" method="post">
        <button type="submit" class='logout-button'>Logout</button>
    </form>
</header>
<div class="container">
<div class="chat-area">
    <div id="message-area"></div>
</div>
    <form action="/chat" method="post">
<div class="input-area">
    <input id="msg" placeholder="Type Here">
    <button class="send" type="submit"> Send </button>
</div>
    </form>
</div>
</html>