<!doctype html>
<html>
<header>
    <form action="/general" method="post">
    <button type="submit" class='logout-button'>Logout</button>
</form>
</header>
<div class="container">
   <div class="curname">{{currency.name}}</div>
    <a href='./chart/{{currency.id}}'>  See the market chart </a>
    <ul id="mylist">
        {{#each currency.market_data.current_price}}
            <li> {{@key}} : {{this}} </li>
        {{/each}}
    </ul>

    <a class="chat-button " href="/chat"> Chatters,let's get chatting! </a>
</div>
</html>
