<!doctype html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>

<div class="container">
    <h1>Choose your crypto currency</h1>
    <ul id="mylist">
{{#each currency}}
   <li> <a href='general/{{this.id}}'> {{this.name}}</a></li>
{{/each}}
    </ul>
    <a class="chat-button" href="/chat"> Chatters,let's get chatting! </a>
</div>

</html>
