<!doctype html>
<html>
<header>
<a href="/general"> GO to the main page</a></header>
<form action='/' method="post">
    <div class="container">
        <h2>Log in</h2>
        {{log}}
        <label for="email"><b>Email</b></label>
        <input type="text" title="email"  name="email" required>
        {{wrongE}}
        <label for="psw"><b>Password</b></label>
        <input type="password"  title="email" name="psw" required>
        {{wrongP}}
        <button class="loginbtn" type="submit"> Log in </button>
    </div>
</form>
<div class="container-signin">

    <p>Not a member yet? <a href="/register">Register!</a>.</p>
</div>
</html>
